.footer {
  background-color: black;
  color: white;
  padding: 0.8rem;
  margin-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer button {
  font-size: 20px;
  padding: 0.8rem;
  border-radius: 20px;
  color: white;
  background-color: black;
  border: 1px solid white;
}
